<html>

<head>
    <title>Create Org</title>
</head>

<body>
    <h1> {{ .title }} </h1>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            <label for="orgname">Org Name</label>
            <input type="text" name="orgname" id="orgname">

            <label for="master_account">Master Account .json</label>
            <input type="file" name="master_account_json" id="master_account">
            {{ .csrfField }}
            <input type="submit"/>
        </form>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>