<html>

<head>
    <title>Bootstrap - Users</title>
</head>

<body>
    <h1> {{ .title }} </h1>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">

            <label for="account1">Account 1</label>
            <input type="text" name="account1" id="account1">

            <label for="account2">Account 2</label>
            <input type="text" name="account2" id="account2">

            {{ .csrfField }}
            <input type="submit"/>
        </form>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>