<html>
    <head>
        <title>Home</title>
    </head>
    <h1> {{ .title }} </h1>
    <div>
    <h3>Auth0 Example</h3>
    <p>Zero friction identity infrastructure, built for developers</p>
    <a href="/login">SignIn</a>
    </div>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>