<html>
    <head>
        <title>Home</title>
    </head>
    <h1> {{ .title }} </h1>
    <div>
    <h3>Auth0 Example</h3>
    <p>Zero friction identity infrastructure, built for developers</p>
    <a href="/webapp/login">SignIn</a>
    </div>
</html>