<html>

<head>
    <title>Modify Org</title>
</head>

<body>
    <div id="user-management">
        <h1> {{ .title }} </h1>
        <div id="user-list">
                <h2>Users</h2>
                <userlist-widget></userlist-widget>
        </div>
        <div id="user-add">
                <h2>Add User</h2>
                <useradd-widget orgid="{{ .orgId }}"></useradd-widget>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/modifyOrg.js"></script>