<html>

<head>
    <title>Organization</title>
</head>

<body>
    Organization "{{ .organizationName }}"
    <div id="org-view">

    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
