<html>

<head>
    <title>User - Main</title>
</head>

<body>
    User - Main {{ .dataz }}
    <div id="org-item-view">
        <org-item :id="tree.id" :name="tree.name" :children="tree.children"/>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/userIndex.js"></script>